DB_DRIVER=SQL Server  
DB_SERVER=TU_SERVIDOR  
DB_DATABASE=TU_BASE_DE_DATOS  
DB_USERNAME=TU_USUARIO  
DB_PASSWORD=TU_CONTRASEÑA  
DB_TRUSTED_CONNECTION=no  
  
APP_TITLE=Gestión Personal  
APP_VERSION=1.0.0